{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block body %}


<div class="container-fluid">
    <a class="navbar-brand" href="/">Myto Do</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
    </div>
</div>
</nav>
<div class="container my-8">
    <h1>Update your to Do </h1>
    <form action="/update/{{todo.Sno}}" , method="POST">
        <div class="mb-3">
            <label for="Tittle" class="form-label">To Do Tittle</label>
            <input type="text" , name="title" class="form-control" id="Tittle" value="{{todo.Title}}"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">To Do Description </label>
            <input type="text" , name="desc" class="form-control" id="desc" value="{{todo.Desc}}">
        </div>
        <button type="update" class="btn btn-success">Update</button>
    </form>
</div>

{% endblock body %}